.footer{
	background:$theme_color;
	padding: 60px 0;
	overflow: hidden;
	position:relative;
	.branding{
		@include minmax(20%);
		margin-right:42px;
		.logo{
			height:30px;
			margin-bottom:18px;
			display: block;
			img{
				width: auto;
				height: 100%;
				object-fit: contain;
			}
		}
		p{
			@include font-size(1.3);
			color:#fff;
		}
		.social{
			margin:0;
			padding:0;
			li{
				margin:0 15px 0 0;
				a{
					color:#fff;
					svg{
						width: 18px;
						height: 18px;
						fill:#fff;
						stroke-width:0;
					}
					&.only-stroke{
						svg{
							fill:none;
							stroke-width:2px;
						}
					}
				}
			}
		}
	}

	.links{
		display:block;
		width:auto;
		max-width:20%;
		flex-grow:1;
		margin:0 auto;
		padding:0 0 0 30px;
		
		h3{
			color:#fff;	
			font-size:18px;			
			font-weight:bold;
			letter-spacing: .5px;
			display: block;
			margin-bottom:12px;
		}

		ul{
			margin:0;
			padding:0;
			li{
				margin:0 0 9px 0;
				padding: 2px 0;
			}
		}

		a{
			color:#fff;
			@include font-size(1.4);
		}
		p{
			margin:0;
		}
		address.address{
			color:#fff;
			@include font-size(1.4);	
			font-style:normal;
			margin-bottom:18px;
			display: block;
		}
		.body-text{
			color:#fff;
		}
	}
	.bottom-links{
		text-align:center;
		display: block;
		a,span{
			@include font-size(1.5);
			color:$text_light;
			display: inline-block;
			margin:0 12px;
		}
	}

	.mobile-call{
		position:fixed;
		bottom:18px;
		left:18px;
		right:18px;
		width:calc(100% - 84px);
		height:48px;
		border-radius:3px;
		background-image:linear-gradient(to bottom, #fff, $theme_gray);
		box-shadow: 0px 2px 6px rgba(#000, .125);
		z-index: 9999;
		display: block;
		font-size:20px;
		font-weight:bold;
		display: flex;
		align-items:center;
		justify-content: center;
		color:$theme_color;
		text-transform: lowercase;
		border-bottom:3px solid $theme_color;
		padding:0 24px;
		visibility: hidden;
		opacity:0;
		transition:all .2s ease-in;
		&.active{
			visibility: visible;
			opacity:1;
			transition:all .2s ease-in;
		}
		svg, i{
			width:auto;
			display: block;
			height:18px;
			stroke:none;
			fill:$theme_color;
			// margin-right:0;
		}
		.text{
			display: block;
			// margin-right:auto;
		}
	}
	.bottom{
		margin-top:24px;
		display: block;
		span{
			color: #fff;
		}
	}
	@include max-breakpoint('m'){
		.links{
			margin-bottom:24px;
			display: block;
			a{
				font-size:15px;
				line-height:20px;
			}
		}
	}
	@include max-breakpoint('s'){
		padding: 30px 0;
		.container{
			flex-direction: column;
			.branding, .links{
				@include minmax(100%);
				margin:0;
				padding:0;
			}
			.branding{
				margin-bottom:25px;
				padding-bottom:15px;
				border-bottom:1px solid rgba(#fff, .5);
				p{
					font-size:14px;
					line-height:20px;
				}
			}
			.links{
				margin-bottom:30px;
				a{
					display: block;
					line-height:30px;
				}
			}
		}
	}
}