.header{
	display: block;
	width: 100%;
	// overflow: hidden;
	position:fixed;
	top:0;
	background:rgba(#fff, 0);
	width:100%;
	z-index: 999999;
	left:0;
	.mobile-nav-trigger{
		display: none;
		color:#fff;
		font-size:36px;
		width: 48px;
		height: 48px;		
		align-items:center;
		margin-left:auto;
		justify-content: center;
		svg{
			font-size:36px;
			width: 36px;
			height: 36px;
			display: block;
		}
	}
	
	.main{		
		height:66px;
		.container{
			display:flex;
			height:100%;
			align-items:center;
		}
		.logo{
			height:30px;
			width: auto;
			margin-left:0;
			margin-right:42px;
			display: none;
			&.logo-light{
				display: block;
			}
			&.logo-dark{
				display: none;
			}
			img{
				height:100%;
				width: auto;			
			}
		}

		.nav{
			width:auto;
			display: block;
			margin-left:0px;
			display: block;
			height:100%;
			margin-right:0;
			flex-grow:1;
			.mobile-nav-logo{
				display: none;
			}
			ul{
				height:100%;
				margin:0;
				padding:0;
				display: flex;
				align-items:center;
				width: 100%;
				li{
					display: block;
					// overflow: hidden;
					margin:0;
					// position:relative;	
					background:rgba(#fff,0);	
					&:last-child{
						margin-left:auto;
					}
					a{
						display: block;
						color:#fff;
						font-size:15px;
						letter-spacing: .5px;
						font-weight: 500;
						line-height:15px;
						padding:18px 20px;
						// height:100%;
						&.cta-btn{
							background:#fff;
							color:$theme_color;
							text-transform: lowercase;
							font-weight:bold;
							margin-left:auto;
							// font-weight:bold;
							padding:12px 18px;
							// margin-left:6px;
							border-radius:4px;
						}
					}
					&.active.children{
						&:not(:last-child){
							// background:rgba(#fff,1);	
							transition:all .2s ease-in;
							> a{
								// color:$text_dark;
								color:$text_gray;
								// font-weight:500;
								background:#fff;
								transition:all .2s ease-in;
								box-shadow:0 -2px 4px rgba(#000, .09);
							}
						}						
					}	
					&.active.no-children{
						&:not(:last-child){
							// background:rgba(#fff,1);	
							transition:all .2s ease-in;
							> a{
								
								color:#fff;
								// background:#fff;
								text-decoration: underline;
								transition:all .2s ease-in;
								// box-shadow:0 -2px 4px rgba(#000, .09);
							}
						}						
					}	
					ul.sub-links{
						position:absolute;
						left:0;
						width: auto;
						background:#fff;
						width: 88%;
						padding:18px 6%;
						// display: block;
						display: block;
						// flex-wrap: wrap;
						box-shadow:0 3px 6px rgba(0,0,0,.09);
						margin-top:0px;
						// border-bottom:3px solid $theme_color;
						opacity:0;
						visibility: hidden;
						top:120%;										
						height: auto;		
						z-index: 99;
						transition:all .2s ease-in;
						align-items:flex-start;
						&.flex{
							display: flex;
						}
						&.active{
							opacity:1;
							visibility: visible;			
							top:100%;
							box-shadow:0 3px 6px rgba(#000, .09);						
							// transition:all .2s ease-in;
						}
						li{
							display: block;
							min-width: 150px;
							// clear:both;
							> a{
								padding:15px 18px 15px 12px;
								display: block;
								overflow: hidden;								
								color:$text_dark;
								font-size:14px;
								&:before{
									display: block;
									float:left;
									width: 0px;
									height:9px;
									content:"";
									transition:all .15s ease-in;
								}
								&:hover{
									&:before{
										display: block;
										float:left;
										width: 3px;
										height:9px;
										content:"";
										transition:all .15s ease-in;
									}
									color:$text_gray;
								}
							}

							&.split-items{
								min-width:160px;
								// width: auto;
								float:left;
								display: block;
								white-space: nowrap;
								margin:0 12px;								
								padding-bottom:20px;
								width:calc(33.333% - 24px);
								> a {
									color:$text_gray;
									font-weight: bold;
									font-size:16px;
									white-space: nowrap;
									padding-bottom:6px;
									margin-bottom:18px;
									border-bottom:1px solid #d9d9d9;
									&:hover{
										&:before{
											display: none;
										}
									}
								}
								@include max-breakpoint('mobile'){
									width: 100%;
									margin:0;
								}

							}

							.sub-sub-links{
								box-shadow:0 3px 9px rgba(#000, .0);
								flex-wrap: wrap;
								white-space: nowrap;
								// max-width: 320px;								
								li{
									@include minmax(100%);
									box-shadow:0 3px 9px rgba(#000, .0);									
									display: block;
									a{
										box-shadow:0 3px 9px rgba(#000, .0);	
										color:$text_dark;												
										white-space: wrap;
										padding-top:5px;
										padding-bottom:5px;
										margin-bottom:3px;
										display: block;					
									}								
								}	
								@include max-breakpoint('mobile'){
									padding-top:12px;
								}							
							}
						}
					}
				}
			}
		}


	}
	
	&.secondary{
		background:#fff;
		position:relative;
		// box-shadow:0 2px 4px rgba(#000, .06);
	
		.main{
			.logo{
				height:36px;
				width: auto;
				margin-left:0;
				margin-right:42px;
				display: none;
				&.logo-light{
					display: none;
				}
				&.logo-dark{
					display: block;
				}
				img{
					height:100%;
					width: auto;			
				}
			}
		}
		.nav{
			ul{
				li{
					a{
						color:$text_dark;
						&.cta-btn{
							background:$theme_color;
							color:#fff;
						}
					}
					&.active.children{
						&:not(:last-child){
							// background:rgba(#fff,1);	
							transition:all .2s ease-in;
							> a{
								// color:$text_dark;
								color:$text_gray;
								// font-weight:500;
								background:#fff;
								transition:all .2s ease-in;
								// box-shadow:0 -2px 4px rgba(#000, .09);
							}
						}						
					}	
					&.active.no-children{
						&:not(:last-child){
							// background:rgba(#fff,1);	
							transition:all .2s ease-in;
							> a{
								
								color:$text_gray;
								// background:#fff;
								text-decoration: underline;
								transition:all .2s ease-in;
								// box-shadow:0 -2px 4px rgba(#000, .09);
							}
						}						
					}
				}
			}
		}
	}
	&.scrolled{
		background:#fff;
		position:fixed;
		box-shadow:0 3px 12px rgba(#000, .06);		
		animation: headerScroll 1s ease;
		animation-fill-mode: forwards;
		.logo{
			&.logo-light{
				display: none;
			}
			&.logo-dark{
				display: block;
			}
		}
		.nav{
			ul{
				li{
					height: 100%;
					display: flex;
					align-items:center;
					padding: 0;
					a{			
						padding: 0 18px;			
						color:$text_gray;
						&.cta-btn{
							background:$theme_color;
							color:#fff;
						}

					}
					
					&:not(:last-child){
						a{
							height: 100%;
							display: block;
							line-height: 66px;
						}
					}

					&.active.no-children{
						&:not(:last-child){
							// background:rgba(#fff,1);	
							transition:all .2s ease-in;
							> a{
								
								color:$text_gray;
								// background:#fff;
								text-decoration: underline;
								transition:all .2s ease-in;
								// box-shadow:0 -2px 4px rgba(#000, .09);
							}
						}						
					}	

					ul.sub-links{
						&.active{
							top:100%;
						}
						li{
							a{
								line-height: 1;
							}
						}
					}

				}
			}
		}
	}
	@include max-breakpoint('l'){
		.main{
			.logo{
				height: 26px;
				margin-right:24px;
			}
			.nav{
				 ul{
				 	 li{
				 	 	a.cta-btn{
				 	 		padding: 10px 14px;
				 	 	}
				 	 }
				 }
			}
		}
	}
	@include max-breakpoint('m'){
		.mobile-nav-trigger{
			display: flex;
			height: 100%;
			width: 90px;
			&.active{
				background:#fff;
				svg, i {
					color:$theme_color;
				}
			}
		}

		.main{
			.container{
				margin:0 0 0 24px;
				width: auto;
			}
			.logo{
				height:26px;
			}
			.nav{
				visibility: hidden;				
				left:-100%;
				// bottom:0;
				height:calc(100% - 66px);
				// height:calc(100% - 48px);
				position:fixed;
				transition:all .25s ease-in;
				z-index: 99999999999999;
				background: #fff;
				width: calc(100% - 48px);
				padding:0 24px;
				left:0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				opacity:0;
				top:69px;
				border-top:1px solid #e0e0e0;
				.mobile-nav-logo{
					display: block;
					height:45px;
					width: 100%;
					text-align:center;
					margin-bottom:12px;
					img{
						height:100%;
						width: auto;
						display: block;
						margin:0 auto;
					}
				}
				ul{
					display: flex;
					flex-direction: column;
					width:100%;
					margin:0 auto;
					height:100%;
					padding:30px 0 0;

					li{
						width: 100%;
						display: block;
						a{
							color:#333;
							font-size:18px;
							
							padding:24px 12px;
							font-weight:500;
							letter-spacing: .5px;
							text-transform: capitalize;
							text-align: left;
							margin:6px 0;
							&:after{
								content:">";
								float:right;
								display: block;
								font-size:20px;
							}
							&.cta-btn{
								// margin:0;
								width:auto;
								width:calc(100% - 36px);
								margin:0;
								display: inline-block;
								padding-top:15px;
								padding-bottom:15px;								
								justify-content: center;
								text-align: center;
								margin-top:30px;
							}
						}
						&:last-child{
							margin-top:auto;
							margin-bottom:48px;
						}
						ul.sub-links{
							position:relative;
							display: none;
							top:0;
							width: 100%;
							opacity:1;
							visibility: visible;
							padding: 0;
							border-bottom:0;
							transition:none;
							box-shadow:0 0 0 rgba(#000, 0);
							&.flex{
								display: none;
							}
							li{
								margin-bottom:0;
								border-bottom:0;								
								a{
									padding-left:24px;
								}
								.sub-sub-links{
									// display: none;
								}
							}							
							// &.active{
							// 	position:relative;
							// }
						}
					}
				}
				&.active{
					visibility: visible;
					opacity:1;
					left:0%;
					top:66px;
					transition:all .2s ease-in;
				}
			}
		}
		&.scrolled{
			.mobile-nav-trigger{
				svg{
					fill:#333;
					color:#333;
				}
			}
			.nav{
				height:calc(100% - 66px);
				ul{
					li{
						height: auto;
						&:not(:last-child) {
							a{
								line-height:1;
								color:#333;		
								height:auto;
							}
						}
						a{
							line-height:1;
							color:#333;
						}
						ul.sub-links{
							position:relative;
							display: none;
							top:0;
							width: 100%;
							opacity:1;
							visibility: visible;
							padding: 0;
							border-bottom:0;
							transition:none;
							box-shadow:0 0 0 rgba(#000, 0);
							li{
								margin-bottom:0;
								border-bottom:0;
								a{
									padding-left:24px;
								}
							}
							// &.active{
							// 	position:relative;
							// }
						}
					}
				}
			}
		}
		&.secondary, &.dark{
			.mobile-nav-trigger{
				svg{
					fill:#333;
					color:#333;
				}
			}
		}
	}
	@include max-breakpoint('mobile'){

		.main{
			 .logo.logo-light{
			 	height: 26px;
			 }
			 .nav ul{
			 	overflow-y: scroll;
			 }
		}
		&.header.scrolled{
			.nav{
				ul {
					li:not(:last-child) {
						a{
							padding:12px;
						}
					}
				}
			}
		}
		&.secondary {
			.main{				
				.logo.logo-light, .logo.logo-dark{
				 	height: 26px;
				 }	
			}			
		}
	}
}