//Font Sizing
body {
  font-family: $body_font; 
  color: $text_gray;
  @include font-size(1.8);
}

h1, h2, h3, h4, h5, h6, span {
  font-family: $heading_font;  
  color: $text_dark;
  font-weight:bold;
  margin:0;
  padding: 0;
  &.white{
  	color:#fff;
  }
}

.body-text{
	@include font-size(1.5);
	line-height:21px;
	color:$text_gray;
	display: block;
	letter-spacing: .5px;
	padding: 0;
	margin:0;
	@include max-breakpoint('m'){
		@include font-size(1.8);
		line-height:24px;
	}
}



h1{
  @include font-size(4.2);
}

h2{
  @include font-size(3.6);
}

h3{
  @include font-size(1.8);
}

a{
	text-decoration:none;
	// @extend .body-text;
	display: inline-block;
	&.white{
		color:#fff;
	}
}

p{
	@extend .body-text;
	margin:0 0 18px 0;

	a{
		text-decoration:underline;
	}
	&.white{
	  	color:#fff;
	  }
}

span{
	// @extend .body-text;
	font-family:$body_font;
	font-weight:normal;
	&.bold{
		font-weight:bold;
	}
}

address { 
  @extend .body-text;
}  


// Bold and Strong
b, strong, .strong { font-weight: 700; }

// Italics
em, .em { font-style: italic; }

.underline{
	text-decoration: underline;
}


.underline-title{
	@include font-size(1.8);
	text-transform: uppercase;
	letter-spacing: .5px;
	display: block;
	padding: 6px 12px;
	text-align: left;
	border-bottom:1px solid #e0e0e0;
	font-family:$body_font;
	font-weight:bold;
}

// Font Weights
.font-100 { font-weight: 100; }
.font-200 { font-weight: 200; }
.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }
.font-900 { font-weight: 900; }

// Font Styles
.font-normal { font-style: normal; }
.font-italic { font-style: italic; }

// Text Modifications
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.text{

}

// Text Alignments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }



//Titles
.page-title{
	font-family:$heading_font;
	@include font-size(6.0);
	font-weight:400;
	margin:0;
	display: block;
}
.pretitle{
	font-family:$body_font;
	font-size:13px;
	line-height: 13px;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing: 3px;
	display: block;
	margin:0;
	margin-bottom:12px;
	color:#fff;
	&.dark{
		color:$text_dark;
	}
	&.small-margin{
		margin-bottom:6px;
	}
}
.section-title{
	font-family:$heading_font;
	@include font-size(3.0);
	font-weight:bold;
	// font-weight:400;
	// margin:0;
	display: block;
}
.subtitle{
	font-family:$heading_font;
	@include font-size(2.4);
	font-weight:bold;
	display: block;
}
